
<div class="container clearfix">
    <div class="main">
        
        <div id="chat">
            <p>Please enter a handle (1-10 characters long)</p>
            <input type="text" id="name" />
            <input type="button" id="chataway" value="Start Chatting">
        </div>
        
    </div>
    
    
    <div class="side-bar">
        
        <ul id="userList">
            
        </ul>
       

    </div>
</div>
