<!DOCTYPE html>
<html>
    <head>
        <!--
            For demonstration purposes, the `title` is dynamically set here based on
            your `sails.config.appName` to show that you can inject data into layouts
            exactly the same way as with your other view templates.
        -->
        <title>Chattaway</title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <link rel="stylesheet" href="/styles/global.css" type="text/css" />
        <link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
        
        
    </head>

    <body>
        <div class="top-bar">
            <div class="container clearfix">
                <h1 class="logo">Chatter</h1>
            </div>
        </div>
        <!-- Include the view file for the current controller/route -->
        <%- body %>


       
        
        <!-- Bring in the socket.io client -->
        <script type="text/javascript" src="/js/socket.io.js"></script>
        <!-- then beef it up with some convenience logic for talking to Sails.js -->
        <script type="text/javascript" src="/js/sails.io.js"></script>
        <!-- listen on socket.io for incoming messages -->
        <script type="text/javascript" src="/js/app.js"></script>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="/js/global.js"></script>

    </body>
</html>
