
<div class="container clearfix">
    <div class="main">
        
        <h2>Welcome</h2>
        <p>Welcome to chatter, a quick little site to allow chattering. This is all made in Node.js using the Sails framework - if you have any questions about it then feel free to get in touch.</p>
    
    </div>
    <div class="side-bar">
        
        <h4 id="new">
            Navigation:
        </h4>
        <ul>
            <li>
                <a href="/chat-pool">- Chat Pool</a>
            </li>
        </ul>

    </div>
</div>
